html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: honeydew;
}
.form__textarea {
    display: block;
    width: 320px;
    height: 200px;
 
}

.form__index {
    display: block;
  width: 300px;
}
